* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.custom-nav-tabs{
  border: none !important;
}

#dateAndTime{
  text-align: end;
  padding: 10px;
  font-weight: bold;
}
.custom-footer{
  display: flex;
  margin: 0px  9vw ;
}
.custom-row:nth-child(odd) {
  background-color: rgb(235, 230, 230);
}
